.itemBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
}

.editButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: -1rem;
  font-size: 1.5rem;
}

.deleteSelectedBtn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
  border: none;
  color: #fff;
}

.delete {
  background-color: #ad454c;
}

.add {
  background-color: #5c8089;
}

.formBtn {
  cursor: pointer;
  padding: 1rem;
  width: 6rem;
  border-radius: 1rem;
  border: none;
  color: #fff;
  margin-left: 5rem;
}

.outline {
  cursor: pointer;
  padding: 1rem;
  width: 6rem;
  border-radius: 1rem;
  border: 2px solid #5c8089;
  color: #5c8089;
  background-color: transparent;
  margin-left: 1rem;
}
