.boxHeading {
  margin: auto;
  width: 10rem;
  font-size: 1.2em;
  padding: 2rem;
}

.boxList {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin: 1rem;
  height: 3rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 5px rgb(233, 228, 220);
  transition: box-shadow 0.4s ease-in;
}

.itemDate {
  width: 8rem;
  margin: 0rem 1rem;
  overflow-x: scroll;
}
