.tab {
  width: 15vw;
  height: 100vh;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  margin: 1rem;
}

.list li {
  padding: 1rem;
}

.list li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #4d2f2f;
  transition: color 0.3s ease-in;
}

.list li a:hover {
  color: #3d5264cc;
}

.logout {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #ad454c;
  color: #fff;
}
