@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

.container {
  width: 100vw;
  margin: auto;
  font-family: "Merriweather", serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.display1 {
  width: 65vw;
}

.homeForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
