@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

.container {
  padding: 1rem 1rem;
  width: 90vw;
  margin: auto;
  font-family: "Merriweather", serif;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.display1 {
  width: 60vw;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
